# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv
*.env

# Playwright
**/playwright-report/
**/test-results/

# Streamlit
*.streamlit

# IDE
.idea/
.vscode/
*.swp

# 报告
allure-results/
allure-report/
report/